:root {
    --app-height: 100%;
}

body {
    background: url('./assets/img/bg2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 0;
    padding: 0;
    height: 100vh;
    height: var(--app-height);
}
h1 {
    margin: 0%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

@font-face {
    font-family: "TT Norms";
    src: local("TT Norms ExtraBold");
    src: url('./assets/fonts/TTNorms-ExtraBold.woff') format("woff");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: "TT Norms";
    src: local("TT Norms Medium");
    src: url('./assets/fonts/TTNorms-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "TT Norms";
    src: local("TT Norms Regular");
    src: url('./assets/fonts/TTNorms-Regular.woff') format("woff");
    font-weight: 500;
    font-style: normal
}

.reconstruction {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    max-width: 1520px;
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  */

.section-title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 66px;
    color: #FFFFFF;
    margin-bottom: 40px;
    /* padding-top: 145px; */
}

.subtitle {
    display: flex;
    align-items: center;
}

.section-subtitle {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 840px;
    margin-left: -74px;
    display: block;
}

.contacts {
    margin-top: 60px;
}

.contacts-title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 26px;
}

.contacts__block {
    background: rgba(255, 255, 255, 0.1);
    mix-blend-mode: normal;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* filter: blur(3px); */
    max-width: 412px;
    padding: 28px 27px;
    margin-top: 20px;
}

.contacts__block-item {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.contacts__block-item-right {
    display: flex;
    flex-direction: column;
}

.contacts__block-list {
    list-style-type: none;
}


.contacts__block-item a {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts__block-item span {
    margin-right: 10px;
}

.contacts__block-item-name {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #B1B1B1;
    /* margin-top: 20px; */
    margin-bottom: 6px;
}

.black-square {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #020A0A;
    -webkit-animation:spin 0.8s linear ;
    -moz-animation:spin 0.8s linear ;
    animation:spin 0.8s linear ;
}

.white-square {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-square {
    position: fixed;
    bottom: 100px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: #EA5C2A;    /* transform: rotate(-90deg); */
}


.subtitle-square {
    /* position: absolute; */
    bottom: 100px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: #EA5C2A;
    -webkit-animation:spin 0.8s linear ;
    -moz-animation:spin 0.8s linear ;
    animation:spin 0.8s linear ;
}

.contacts__block-item-twice {
    margin-bottom: 20px;
}
.contacts__block-item {
    margin-top: 20px;
}

.contacts__block-item span  {
    display: flex;
    align-items: flex-end;
}

.contacts__block-item span img {
    height: 22px;
    width: 18px;
}

.contacts__block-item:nth-child(1) {
    margin-bottom: 43px;
    margin-top: 0;
}

.contacts__block-item:nth-child(3) {
    margin-bottom: 45px;
}

.container {
    max-width: 1240px;
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    padding: 0 20px;
    position: relative
}
    
.subtitle {
    display: flex;
    align-items: center;
}

.section-subtitle {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 840px;
    margin-left: -74px;
    display: block;
}

.contacts-title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 26px;
}

.contacts__block-item-name {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #B1B1B1;
    /* margin-top: 20px; */
    margin-bottom: 6px;
}

.black-square {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #020A0A;
}

.white-square {
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-square {
    bottom: 100px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: #EA5C2A;
    /* transform: rotate(-90deg); */
}

.subtitle-square {
    /* position: absolute; */
    bottom: 100px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: #EA5C2A;
}

.contacts__block-item-twice {
    margin-bottom: 20px;
}
.contacts__block-item {
    margin-top: 20px;
}

.contacts__block-item span  {
    display: flex;
    align-items: flex-end;
}

.contacts__block-item span img {
    height: 22px;
    width: 18px;
}

.contacts__block-item:nth-child(1) {
    margin-bottom: 34px;
    margin-top: 0;
}

.contacts__block-item:nth-child(3) {
    margin-bottom: 34px;
}

.footer__social {
    margin-top: 43px;
    display: flex;
}

.footer__social a {
    display: flex;
    margin-right: 20px;
    /* height: 20px; */
    align-items: center;
    justify-content: center;
}

.footer__social a:hover path {
    fill: #EB5C2C;
}



/*  */
@media only screen and (max-width: 1440px)  {

.section-title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 57px;
    color: #FFFFFF;
    margin-bottom: 30px;
    /* padding-top: 145px; */
}

.subtitle {
    display: flex;
    align-items: center;
}

.section-subtitle {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 840px;
    margin-left: -74px;
    display: block;
}

.contacts {
    margin-top: 50px;
}

.contacts-title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 26px;
}

.contacts__block {
    background: rgba(255, 255, 255, 0.1);
    mix-blend-mode: normal;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* filter: blur(3px); */
    max-width: 412px;
    padding: 28px 27px;
    margin-top: 20px;
}

.contacts__block-item {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.contacts__block-item-right {
    display: flex;
    flex-direction: column;
}

.contacts__block-list {
    list-style-type: none;
}


.contacts__block-item a {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts__block-item span {
    margin-right: 10px;
}

.contacts__block-item-name {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #B1B1B1;
    /* margin-top: 20px; */
    margin-bottom: 6px;
}

.black-square {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #020A0A;
    -webkit-animation:spin 0.8s linear ;
    -moz-animation:spin 0.8s linear ;
    animation:spin 0.8s linear ;
}

.white-square {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-square {
    position: fixed;
    bottom: 100px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: #EA5C2A;    /* transform: rotate(-90deg); */
}


.subtitle-square {
    /* position: absolute; */
    bottom: 100px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: #EA5C2A;
    -webkit-animation:spin 0.8s linear ;
    -moz-animation:spin 0.8s linear ;
    animation:spin 0.8s linear ;
}

.contacts__block-item-twice {
    margin-bottom: 20px;
}
.contacts__block-item {
    margin-top: 20px;
}

.contacts__block-item span  {
    display: flex;
    align-items: flex-end;
}

.contacts__block-item span img {
    height: 22px;
    width: 18px;
}

.contacts__block-item:nth-child(1) {
    margin-bottom: 43px;
    margin-top: 0;
}

.contacts__block-item:nth-child(3) {
    margin-bottom: 45px;
}

    .container {
        max-width: 1240px;
        box-sizing: border-box;
        width: 100%;
        /* height: 100%; */
        margin: 0 auto;
        padding: 0 20px;
        position: relative
    }
    

.section-title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 57px;
    color: #FFFFFF;
    /* padding-top: 116px; */
}

.subtitle {
    display: flex;
    align-items: center;
}

.section-subtitle {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 840px;
    margin-left: -74px;
    display: block;
}

.contacts-title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 26px;
}

}

@media only screen and (max-width: 1280px)  {

    .container {
        max-width: 1080px;
        box-sizing: border-box;
        width: 100%;
        /* height: 100%; */
        margin: 0 auto;
        padding: 0 20px;
        position: relative
    }

    .section-title {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 42px;
        color: #FFFFFF;
        margin-bottom: 22px;
        /* padding-top: 145px; */
    }
    
    .subtitle {
        display: flex;
        align-items: center;
    }
    
    .section-subtitle {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        max-width: 508px;
        margin-left: -59px;
        display: block;
    }
    
    .contacts {
        margin-top: 47px;
    }
    
    .contacts-title {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding-left: 22px;
    }
    
    .contacts__block {
        background: rgba(255, 255, 255, 0.1);
        mix-blend-mode: normal;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        /* filter: blur(3px); */
        max-width: 412px;
        padding: 22px;
        margin-top: 14px;
    }
    
    .contacts__block-item {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
    }
    
    .contacts__block-item-right {
        display: flex;
        flex-direction: column;
    }
    
    .contacts__block-list {
        list-style-type: none;
    }
    
    
    .contacts__block-item a {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .contacts__block-item span {
        margin-right: 10px;
    }
    
    .contacts__block-item-name {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #B1B1B1;
        /* margin-top: 20px; */
        margin-bottom: 6px;
    }
    
    .black-square {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        background: #020A0A;
        -webkit-animation:spin 0.8s linear ;
        -moz-animation:spin 0.8s linear ;
        animation:spin 0.8s linear ;
    }
    
    .white-square {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 160px;
        height: 80px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .white-square img {
        width: 121px;
        height: 28.78px;
    }
    
    .orange-square {
        position: fixed;
        bottom: 80px;
        right: 160px;
        width: 80px;
        height: 80px;
        background: #EA5C2A;    /* transform: rotate(-90deg); */
    }
    
    
    .subtitle-square {
        /* position: absolute; */
        bottom: 100px;
        right: 200px;
        width: 80px;
        height: 80px;
        background: #EA5C2A;
    }
    
    .contacts__block-item-twice {
        margin-bottom: 20px;
    }
    .contacts__block-item {
        margin-top: 20px;
    }
    
    .contacts__block-item span  {
        display: flex;
        align-items: flex-end;
    }
    
    .contacts__block-item span img {
        height: 22px;
        width: 18px;
    }
    
    .contacts__block-item:nth-child(1) {
        margin-bottom: 30px;
        margin-top: 0;
    }
    
    .contacts__block-item:nth-child(3) {
        margin-bottom: 30px;
    }
    
    
    }

@media only screen and (max-width: 1000px)  {

    .section-subtitle {
        max-width: 550px;
    }
}

@media only screen and (max-width: 768px)  {

    .black-square {
        width: 60px;
        height: 60px;
    }

    .section-title {
        font-size: 30px;
        line-height: 29px;
        margin-bottom: 24px;
        /* padding-top: 63px; */
    }

    .subtitle-square {
        width: 80px;
        height: 80px;
    }

    .contacts-title {
        font-size: 20px;
    line-height: 24px;
    padding-left: 19px;
    }

    .section-subtitle {
        font-size: 16px;
        line-height: 19px;
        margin: -60px;
        max-width: 260px;
    }

    .orange-square {
        display: none;
    }

    .white-square {
        width: 120px;
        height: 60px;
    }

    .contacts__block-item {
        font-size: 18px;
        line-height: 21px;
    }

    .contacts__block-item a {
        font-size: 18px;
        line-height: 21px;
    }

    .contacts__block-item-name {
        font-size: 13px;
        line-height: 15px;
    }

    .contacts {
        margin-top: 40px;
    }

    .contacts__block {
        padding: 26px 20px;
        margin-top: 15px;
    }

    .white-square img {
        width: 91.73px;
        height: 21.82px;
    }

    .contacts__block-item-twice {
        margin-bottom: 12px;
    }
    .contacts__block-item {
        margin-top: 20px;
    }

    .contacts__block-item:nth-child(1) {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .contacts__block-item:nth-child(3) {
        margin-bottom: 38px;
    }
    .contacts__block-item span img {
        height: 17px;
        width: 14px;
    }

}

@media only screen and (max-width: 390px)  {

    .black-square {
        width: 60px;
        height: 60px;
    }

    

    .subtitle-square {
        width: 80px;
        height: 80px;
    }

    .contacts-title {
        font-size: 20px;
    line-height: 24px;
    }

    .section-subtitle {
        font-size: 16px;
        line-height: 19px;
        margin: -60px;
        max-width: 260px;
    }

    .orange-square {
        display: none;
    }

    .white-square {
        width: 120px;
        height: 60px;
    }

    .contacts__block-item {
        font-size: 16px;
        line-height: 19px;
    }

    .contacts__block-item a {
        font-size: 16px;
        line-height: 19px;
    }

    .contacts__block-item-name {
        font-size: 13px;
        line-height: 15px;
    }

    .contacts {
        margin-top: 40px;
    }

    .contacts__block {
        padding: 26px 20px;
        margin-top: 15px;
    }

    .white-square img {
        width: 91.73px;
        height: 21.82px;
    }

    .contacts__block-item-twice {
        margin-bottom: 12px;
    }
    .contacts__block-item {
        margin-top: 20px;
    }

    .contacts__block-item:nth-child(1) {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .contacts__block-item:nth-child(3) {
        margin-bottom: 38px;
    }
    .contacts__block-item span img {
        height: 17px;
        width: 14px;
    }

}

@media only screen and (max-width: 375px)  {

    .black-square {
        width: 60px;
        height: 60px;
    }


    .subtitle-square {
        width: 80px;
        height: 80px;
    }

    .contacts-title {
        font-size: 16px;
        line-height: 19px;
    }

    .section-subtitle {
        font-size: 16px;
        line-height: 19px;
        margin: -60px;
        max-width: 260px;
    }

    .orange-square {
        display: none;
    }

    .white-square {
        width: 120px;
        height: 60px;
    }

    .contacts__block-item {
        font-size: 16px;
        line-height: 19px;
    }

    .contacts__block-item a {
        font-size: 16px;
        line-height: 19px;
    }

    .contacts__block-item-name {
        font-size: 13px;
        line-height: 15px;
    }

    .contacts {
        margin-top: 20px;
    }

    .contacts__block {
        padding: 20px;
        margin-top: 13px;
    }

    .white-square img {
        width: 91.73px;
        height: 21.82px;
    }

    .contacts__block-item-twice {
        margin-bottom: 12px;
    }
    .contacts__block-item {
        margin-top: 12px;
    }

    .contacts__block-item:nth-child(1) {
        margin-bottom: 24px;
        margin-top: 0;
    }

    .contacts__block-item:nth-child(3) {
        margin-bottom: 24px;
    }

    

    .contacts__block-item span img {
        height: 17px;
        width: 14px;
    }

}

@media only screen and (max-width: 320px)  {


    .black-square {
        width: 60px;
        height: 60px;
    }

    .subtitle-square {
        width: 70px;
        height: 70px;
    }

    .contacts-title {
        font-size: 16px;
        line-height: 19px;
        padding-left: 16px;
    }

    .section-subtitle {
        font-size: 14px;
        line-height: 17px;
        margin: -56px;
        max-width: 260px;
    }

    .orange-square {
        display: none;
    }

    .white-square {
        width: 120px;
        height: 60px;
    }

    .contacts__block-item {
        font-size: 14px;
        line-height: 17px;
    }

    .contacts__block-item span img {
        height: 13px;
        width: 11px;
    }

    .contacts__block-item a {
        font-size: 14px;
        line-height: 17px;
    }

    .contacts__block-item-name {
        font-size: 13px;
        line-height: 15px;
    }

    .contacts {
        margin-top: 24px;
    }

    .contacts__block {
        padding: 18px 16px;
    }

    .white-square img {
        width: 91.73px;
        height: 21.82px;
    }

    .contacts__block-item-twice {
        margin-bottom: 12px;
    }
    .contacts__block-item {
        margin-top: 12px;
    }

    .contacts__block-item:nth-child(1) {
        margin-bottom: 24px;
        margin-top: 0;
    }

    .contacts__block-item:nth-child(3) {
        margin-bottom: 24px;
    }

    .contacts__block-item span img {
        height: 13px;
        width: 11px;
    }

}
